body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ddd;
}

.logo-main{
    height: 2vw;
    width: 7vw;
    /* margin-right: 30vw; */
    margin-left: -15vw;
}

nav {
    background-color: #fbfbfc;
    padding: 10px;
    display: flex;
    justify-content:space-evenly;
}

nav input {
    width: 85%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-right: 40vw;
    
}

.mega-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.sidebar, .main-content, .extra-sidebar, .create-post, .about-section {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.sidebar {
    background-color: #ffffff;
    height: 80vh;
}

.main-content-container {
    display: flex;
    flex-direction: column;
}

.extra-sidebar-container {
    display: flex;
    flex-direction: column;
}

.create-post {
    margin-bottom: 20px;
    background-color: #ffffff;
    height: 20vw;
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
}

.main-content {
    background-color: #ffffff;
    height: 16vw;
}

.extra-sidebar {
    background-color: #ffffff;
    height: 60vh;
}

.about-section {
    margin-top: 20px;
    background-color: #ffffff;
    height: 10vh;
}

.main-content{
    overflow-y: scroll;
}

.text-area{
    width: 94%;
    height: 90%;
    border: none;

}

textarea:focus{
    outline: none;
}

#post-btn{
    width: 5vw;
    background-color: #00BD97;
    border: #00BD97;
    height: 2vw;
    border-radius: 7px;
    cursor: pointer;
}

.line{
    height: 0.065vw;
    width: 100%;
    background-color: #ddd;
    margin-top: 0.1vw;
}

.search-btn{
    height: 2vw;
    width: 2vw;
    position: absolute;
    margin-top: -2.4vw;
    margin-left: 45vw;
}

